<section id="artesas" class="section min-h-screen flex items-center justify-center bg-white/95 py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col-reverse md:flex-row items-center gap-12">
            <div class="md:w-1/2">
                <h2 class="text-3xl md:text-4xl font-serif tracking-wider mb-6">Mãos que Trazem a Renda à Vida</h2>
                <div class="w-20 h-0.5 bg-black mb-6"></div>
                <p class="text-gray-600 mb-4">A Renda Irlandesa, patrimônio imaterial de Sergipe, é a alma de nossas criações. Cada peça é tecida à mão por artesãs talentosas de Divina Pastora, que carregam um saber ancestral de geração em geração, transformando fios em pura arte.</p>
                <p class="text-gray-600 mb-8">Nossa parceria com a comunidade não apenas garante a autenticidade e a qualidade única de cada peça, mas também ajuda a preservar e a valorizar esta rica tradição cultural brasileira, garantindo que ela prospere para as futuras gerações.</p>
                <button (click)="onNavegarParaArtesas()" class="border border-black px-8 py-3 hover:bg-black hover:text-white transition duration-300 cursor-pointer">Conheça as Artesãs</button>
            </div>
             <div class="md:w-1/2 image">
                <img src="assets/content/artesa.jpeg" alt="Artesã tecendo renda" class="rounded-sm shadow-xl w-full h-auto">
            </div>
        </div>
    </div>
</section>
