<section id="home" class="h-screen relative flex items-center justify-center">
    <div class="text-center px-4" style="z-index: 1;">
        <h1 class="text-4xl md:text-6xl font-serif text-white mb-6 tracking-wider">{{ heroData.title }}</h1>
        <p class="text-xl md:text-2xl text-white mb-8 max-w-2xl mx-auto">{{ heroData.subtitle }}</p>
    </div>
    <div class="scroll-down-arrow">
        <a href="#sobre" class="text-white text-3xl" aria-label="Rolar para baixo para a seção Sobre">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</section>
